<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>VueJS SocketIO</title>
    <link rel="stylesheet" href="npm/bulma/css/bulma.css">
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div class="container">
        <h1 class="subtitle is-3">FunnyMsg App</h1>
        <div class="columns"> 
            <div class="column is-two-thirds">
                <div id="chat" class="box">
                    <div id="messages">
                        <ul>
                            <li v-for="message in messages">
                                <div class="media-content">
                                    <div class="content">
                                        <p>
                                            <strong>{{message.user}}</strong> <small>{{message.date}}</small>
                                            <br>
                                            {{message.text}}
                                        </p>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>

                    <div id="controls" class="field has-addons">
                        <div class="control">
                            <input v-model="message" v-on:keydown.enter="send" class="input is-primary" placeholder="Write message">
                        </div>
                        <div class="control">
                            <button v-on:click="send" :disabled="!message" class="button is-primary">Send</button>
                        </div>
                    </div>
                </div>  
            </div>
            <div class="column">
                <h4 class="title is-4">Users</h4>
            </div>
        </div> 
    </div>   

    <script src="npm/vue/dist/vue.js"></script>
    <script src="npm/socket.io-client/dist/socket.io.js"></script>
    <script src="app.js"></script>
</body>
</html>
